{% extends "pages/page.html" %}

{% load mezzanine_tags %}

{% block title %}{% endblock %}

{% block container %}
  <div class="cover">
    <img src="{{ page.coverpage.cover.url }}" alt="Cover Image for Page" class="img-fluid" />
  </div>
  <div class="container py-4" id="content" tabindex="-1">
  <div class="row mb-4">
        <div class="col">
          <h1 class="display-4">{% editable page.coverpage.cover.title %} {{ page.coverpage.title|richtext_filters|safe }} {% endeditable %}</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        {% editable page.coverpage.content %}
        {{ page.coverpage.content|richtext_filters|safe }}
        {% endeditable %}
      </div>
    </div>
  </div>
{% endblock %}
