{% extends "base.html" %}
{% load i18n staticfiles %}

{% block body_id %}liberty-background{% endblock %}

{% block meta_title %}{% trans "Home" %}{% endblock %}

{% block breadcrumb_menu %}
<li class="active">{% trans "Home" %}</li>
{% endblock %}

{% block main %}


  <div class="description">
    {{ settings.intro }}
    <p><em>
        {{ settings.disclaimer | safe }}
    </em></p>
  </div>

<div id="features" class="yd-features">

    <div class="row py-5 py-lg-0">
        <div class="col-12 col-lg-6 py-lg-5 pr-lg-5 mb-3 mb-lg-0">
            <img src="https://picsum.photos/seed/hhr/600/400" alt="" class="img-fluid shadow">
          </div>
          <div class="col-12 col-lg-6 py-lg-5 pl-lg-5 d-flex align-items-center">
            <div>
                <h2>Discover new customers with parker landing.</h2>
                <p>We’ll deliver the best stories and ideas on the topics you care about most straight to your
                homepage, app, or inbox. </p>
            <a href="#" class="wow fadeInLeft" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInLeft;">Learn more</a>
            </div>
          </div>
    </div>
    <div class="row py-5 py-lg-0">
        <div class="col-12 col-lg-6 py-lg-5 pl-lg-5 order-lg-2 mb-3 mb-lg-0">
            <img src="https://picsum.photos/seed/ref/600/400" alt="" class="img-fluid shadow">
          </div>
        <div class="col-12 col-lg-6 py-lg-5 pr-lg-5 d-flex align-items-center order-lg-1">
            <div>
              <h2>Better page design for seamless user experience.</h2>
                <p>We’ll deliver the best stories and ideas on the topics you care about most straight to your
                homepage, app, or inbox. </p>
            <a href="#" class="wow fadeInLeft" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInLeft;">Learn More</a>
            </div>
          </div>
    </div>


</div>

{% endblock %}
